/* Contact Styles */

/*Added background image (located in computer folder) in a HTML file using CSS file*/
body{
    background-image: url("./Images/backgroundimage.jpg");
    background-repeat: repeat;
        }

    /* line break after the header */
    hr {
        background: white;
    }

}
.contact-form{
    color:white;
    margin-top: 100px;
    padding: 20px;
}

h1{
    color: teal;
}